body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center ;
}

.frame{
    height: 600px;
    width: 600px;
    background-color: rgb(101, 187, 187);
    border: 3px solid salmon;
    box-shadow: 20px,20px gery;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

}

.Output{
    margin-top: 30px;
    height: 430px;
    width: 400px;
    background-color: antiquewhite;

}

.Output>h4{
    font-size: x-large;
    margin: 20px;
    margin-left: 180px;
}